<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunqi.mapper.ActivityUsrMapper" >
  <resultMap id="BaseResultMap" type="com.xunqi.pojo.ActivityUsr" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="use_id" property="useId" jdbcType="VARCHAR" />
    <result column="portrait" property="portrait" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="fan_num" property="fanNum" jdbcType="INTEGER" />
    <result column="activity_num" property="activityNum" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="is_auth" property="isAuth" jdbcType="VARCHAR" />
    <result column="is_wx" property="isWx" jdbcType="INTEGER" />
    <result column="is_company" property="isCompany" jdbcType="VARCHAR" />
    <result column="is_bond" property="isBond" jdbcType="VARCHAR" />
    <result column="is_member" property="isMember" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, use_id, portrait, nickname, fan_num, activity_num, introduction, create_time, 
    update_time, password, phone, account, is_auth, is_wx, is_company, is_bond, is_member
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xunqi.pojo.ActivityUsrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_usr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_usr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_usr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xunqi.pojo.ActivityUsrExample" >
    delete from activity_usr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xunqi.pojo.ActivityUsr" >
    insert into activity_usr (id, use_id, portrait, 
      nickname, fan_num, activity_num, 
      introduction, create_time, update_time, 
      password, phone, account, 
      is_auth, is_wx, is_company, 
      is_bond, is_member)
    values (#{id,jdbcType=INTEGER}, #{useId,jdbcType=VARCHAR}, #{portrait,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{fanNum,jdbcType=INTEGER}, #{activityNum,jdbcType=INTEGER}, 
      #{introduction,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{isAuth,jdbcType=VARCHAR}, #{isWx,jdbcType=INTEGER}, #{isCompany,jdbcType=VARCHAR}, 
      #{isBond,jdbcType=VARCHAR}, #{isMember,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xunqi.pojo.ActivityUsr" >
    insert into activity_usr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="useId != null" >
        use_id,
      </if>
      <if test="portrait != null" >
        portrait,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="fanNum != null" >
        fan_num,
      </if>
      <if test="activityNum != null" >
        activity_num,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="isAuth != null" >
        is_auth,
      </if>
      <if test="isWx != null" >
        is_wx,
      </if>
      <if test="isCompany != null" >
        is_company,
      </if>
      <if test="isBond != null" >
        is_bond,
      </if>
      <if test="isMember != null" >
        is_member,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="useId != null" >
        #{useId,jdbcType=VARCHAR},
      </if>
      <if test="portrait != null" >
        #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="fanNum != null" >
        #{fanNum,jdbcType=INTEGER},
      </if>
      <if test="activityNum != null" >
        #{activityNum,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="isAuth != null" >
        #{isAuth,jdbcType=VARCHAR},
      </if>
      <if test="isWx != null" >
        #{isWx,jdbcType=INTEGER},
      </if>
      <if test="isCompany != null" >
        #{isCompany,jdbcType=VARCHAR},
      </if>
      <if test="isBond != null" >
        #{isBond,jdbcType=VARCHAR},
      </if>
      <if test="isMember != null" >
        #{isMember,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xunqi.pojo.ActivityUsrExample" resultType="java.lang.Integer" >
    select count(*) from activity_usr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activity_usr
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.useId != null" >
        use_id = #{record.useId,jdbcType=VARCHAR},
      </if>
      <if test="record.portrait != null" >
        portrait = #{record.portrait,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.fanNum != null" >
        fan_num = #{record.fanNum,jdbcType=INTEGER},
      </if>
      <if test="record.activityNum != null" >
        activity_num = #{record.activityNum,jdbcType=INTEGER},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.isAuth != null" >
        is_auth = #{record.isAuth,jdbcType=VARCHAR},
      </if>
      <if test="record.isWx != null" >
        is_wx = #{record.isWx,jdbcType=INTEGER},
      </if>
      <if test="record.isCompany != null" >
        is_company = #{record.isCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.isBond != null" >
        is_bond = #{record.isBond,jdbcType=VARCHAR},
      </if>
      <if test="record.isMember != null" >
        is_member = #{record.isMember,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activity_usr
    set id = #{record.id,jdbcType=INTEGER},
      use_id = #{record.useId,jdbcType=VARCHAR},
      portrait = #{record.portrait,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      fan_num = #{record.fanNum,jdbcType=INTEGER},
      activity_num = #{record.activityNum,jdbcType=INTEGER},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      password = #{record.password,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      is_auth = #{record.isAuth,jdbcType=VARCHAR},
      is_wx = #{record.isWx,jdbcType=INTEGER},
      is_company = #{record.isCompany,jdbcType=VARCHAR},
      is_bond = #{record.isBond,jdbcType=VARCHAR},
      is_member = #{record.isMember,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunqi.pojo.ActivityUsr" >
    update activity_usr
    <set >
      <if test="useId != null" >
        use_id = #{useId,jdbcType=VARCHAR},
      </if>
      <if test="portrait != null" >
        portrait = #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="fanNum != null" >
        fan_num = #{fanNum,jdbcType=INTEGER},
      </if>
      <if test="activityNum != null" >
        activity_num = #{activityNum,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="isAuth != null" >
        is_auth = #{isAuth,jdbcType=VARCHAR},
      </if>
      <if test="isWx != null" >
        is_wx = #{isWx,jdbcType=INTEGER},
      </if>
      <if test="isCompany != null" >
        is_company = #{isCompany,jdbcType=VARCHAR},
      </if>
      <if test="isBond != null" >
        is_bond = #{isBond,jdbcType=VARCHAR},
      </if>
      <if test="isMember != null" >
        is_member = #{isMember,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunqi.pojo.ActivityUsr" >
    update activity_usr
    set use_id = #{useId,jdbcType=VARCHAR},
      portrait = #{portrait,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      fan_num = #{fanNum,jdbcType=INTEGER},
      activity_num = #{activityNum,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      is_auth = #{isAuth,jdbcType=VARCHAR},
      is_wx = #{isWx,jdbcType=INTEGER},
      is_company = #{isCompany,jdbcType=VARCHAR},
      is_bond = #{isBond,jdbcType=VARCHAR},
      is_member = #{isMember,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<select id="selectByPortrait" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from activity_usr
    where portrait = #{portrait,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUserIdList" resultMap="BaseResultMap" parameterType="java.util.List">
    SELECT *
    FROM activity_usr 
    WHERE  use_id in <foreach collection="useIdList" item="useId" open="(" close=")" separator=",">
    #{useId,jdbcType=VARCHAR}
   </foreach>
</select>
  
  <select id="selectPhone" resultMap="BaseResultMap" parameterType="com.xunqi.pojo.ActivityUsr" >
    select nickname,phone from activity_usr where is_company = #{isCompany,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByUseId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from activity_usr
    where use_id = #{useId,jdbcType=VARCHAR}
  </select>
  
   <update id="updateByUseIdSelective" parameterType="com.xunqi.pojo.ActivityUsr" >
    update activity_usr
    <set >
      <if test="portrait != null" >
        portrait = #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="fanNum != null" >
        fan_num = #{fanNum,jdbcType=INTEGER},
      </if>
      <if test="activityNum != null" >
        activity_num = #{activityNum,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="isAuth != null" >
        is_auth = #{isAuth,jdbcType=VARCHAR},
      </if>
      <if test="isWx != null" >
        is_wx = #{isWx,jdbcType=INTEGER},
      </if>
      <if test="isCompany != null" >
        is_company = #{isCompany,jdbcType=VARCHAR},
      </if>
    </set>
    where use_id = #{useId,jdbcType=INTEGER}
  </update>
</mapper>