<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunqi.mapper.UseImagesMapper" >
  <resultMap id="BaseResultMap" type="com.xunqi.pojo.UseImages" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="use_id" property="useId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="images_describe" property="imagesDescribe" jdbcType="VARCHAR" />
    <result column="images_limit" property="imagesLimit" jdbcType="INTEGER" />
    <result column="up_image" property="upImage" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="is_company" property="isCompany" jdbcType="VARCHAR" />
    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, use_id, name, images_describe, images_limit, up_image, type, is_company, view_num, 
    state, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xunqi.pojo.UseImagesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from use_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from use_images
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from use_images
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xunqi.pojo.UseImagesExample" >
    delete from use_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xunqi.pojo.UseImages" >
    insert into use_images (id, use_id, name, 
      images_describe, images_limit, up_image, 
      type, is_company, view_num, 
      state, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{useId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{imagesDescribe,jdbcType=VARCHAR}, #{imagesLimit,jdbcType=INTEGER}, #{upImage,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{isCompany,jdbcType=VARCHAR}, #{viewNum,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xunqi.pojo.UseImages" >
    insert into use_images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="useId != null" >
        use_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imagesDescribe != null" >
        images_describe,
      </if>
      <if test="imagesLimit != null" >
        images_limit,
      </if>
      <if test="upImage != null" >
        up_image,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="isCompany != null" >
        is_company,
      </if>
      <if test="viewNum != null" >
        view_num,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="useId != null" >
        #{useId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imagesDescribe != null" >
        #{imagesDescribe,jdbcType=VARCHAR},
      </if>
      <if test="imagesLimit != null" >
        #{imagesLimit,jdbcType=INTEGER},
      </if>
      <if test="upImage != null" >
        #{upImage,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="isCompany != null" >
        #{isCompany,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xunqi.pojo.UseImagesExample" resultType="java.lang.Integer" >
    select count(*) from use_images
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update use_images
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.useId != null" >
        use_id = #{record.useId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.imagesDescribe != null" >
        images_describe = #{record.imagesDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.imagesLimit != null" >
        images_limit = #{record.imagesLimit,jdbcType=INTEGER},
      </if>
      <if test="record.upImage != null" >
        up_image = #{record.upImage,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.isCompany != null" >
        is_company = #{record.isCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.viewNum != null" >
        view_num = #{record.viewNum,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update use_images
    set id = #{record.id,jdbcType=INTEGER},
      use_id = #{record.useId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      images_describe = #{record.imagesDescribe,jdbcType=VARCHAR},
      images_limit = #{record.imagesLimit,jdbcType=INTEGER},
      up_image = #{record.upImage,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      is_company = #{record.isCompany,jdbcType=VARCHAR},
      view_num = #{record.viewNum,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunqi.pojo.UseImages" >
    update use_images
    <set >
      <if test="useId != null" >
        use_id = #{useId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imagesDescribe != null" >
        images_describe = #{imagesDescribe,jdbcType=VARCHAR},
      </if>
      <if test="imagesLimit != null" >
        images_limit = #{imagesLimit,jdbcType=INTEGER},
      </if>
      <if test="upImage != null" >
        up_image = #{upImage,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="isCompany != null" >
        is_company = #{isCompany,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunqi.pojo.UseImages" >
    update use_images
    set use_id = #{useId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      images_describe = #{imagesDescribe,jdbcType=VARCHAR},
      images_limit = #{imagesLimit,jdbcType=INTEGER},
      up_image = #{upImage,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      is_company = #{isCompany,jdbcType=VARCHAR},
      view_num = #{viewNum,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="findByids"  parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM use_images 
		<where>
		<if test="ids != null" >
         id in 
         <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id,jdbcType=INTEGER}
         </foreach>
         </if>
         </where>
           limit #{example.beginRow},#{example.pageSize}    
	</select>
</mapper>