html,body{
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight:400;
	color:#333333;
	background-color: #ffffff;
}
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6{display: block;margin: 0;padding: 0;}
a{color: #333333;text-decoration: none;}
input,textarea{border: none;outline: none;}

.section-box{
	width: 100%;
	min-width: 1200px;
	position: relative;
}
.box{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
/*/nav-bar*/
.nav-bar{
	height: 76px;
	width: 100%;
	color: #fff;
	position: fixed;
	top: 0;
	z-index: 10;
}

.nav-bar::after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	background: linear-gradient(0deg,rgba(140,214,233,1),rgba(76,84,231,1));
	opacity:0.5;
}


.nav-bar .box{
	height: 100%;
}
.logo-box{
	float: left;
	padding: 14px 0;
	line-height: 48px;
}
.logo-box .logo{
	width: 48px;
	height: 48px;
	float: left;
}
.logo-box .title{
	font-size: 24px;
	margin-left: 20px;
}
.nav-list{
	/* float: right; */
	height: 76px;
	margin: 0 130px 0 330px;
	overflow: hidden;
}
.nav-item{
	display: block;
	width: 96px;
	height: 76px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 76px;
	margin-right: 50px;
	color: #333333;
	cursor: pointer;
	float: left;
}
.nav-item a{
	display: block;
	width: 96px;
	height: 76px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.nav-item.current,.nav-item:hover,.nav-item:hover a{
	position: relative;
	color: #ffffff;
	font-weight: 500;
}
.nav-item.current::after{
	content:'';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 6em;
	height: 3px;
	background-color: #29AEE7;
}
.login-btn{
	display: inline-block;
	width: 87px;
	height: 38px;
	border: 2px solid #29AEE7;
	position: absolute;
	right: 0;
	top: 19px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
	border-radius: 6px;
	color: #29AEE7;
	opacity: 0.8;
}

.nav-bar.scroll{
	background-color: #fff;
	color:#333333;
	box-shadow: 0 0 5px #ddd;
}
.nav-bar.scroll::after{
	display: none;
}
.nav-bar.scroll .nav-item.current,.nav-bar.scroll .nav-item:hover,.nav-bar.scroll .nav-item:hover a{
	font-weight: 500;
	color: #29AEE7;
}
/* /top */
.top-box{
	width: 100%;
	min-width: 1000px;
}
 .banner{
	width: 100%
}

/* introduction */
.introduction-box .introduction-bg{
	min-height: 511px;
}
.introduction-box .box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	text-align: center;
	
}
.introduction-box .title{
	width: 322px;
	height: 71px;
	background: url('../image/jianjie.png') center center no-repeat;
	background-size: contain;
	margin: 0 auto 29px;
}
.introduction-box .text{
	font-size:24px;
	font-weight:400;
	color:#666666;
	margin-bottom: 10px;
}
.introduction-list{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	-webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 69px;
}
.introduction-list li{
	display: inline-block;
	width: 288px;
	padding-left: 30px;
	font-size:18px;
	font-weight:400;
	line-height:30px;
	text-align: left;
	position: relative;
}
.introduction-list li::after{
	content: '';
	display: block;
	width: 2px;
	height: 14px;
	background-color: #29AEE7;
	position: absolute;
	left: 0;
	top: 8px;
}
/* jhhdpt */
.juhui-box  .banner{
	height: 1124px;
}
.juhui-box .title{
	background-image: url('../image/pt.png');
}
.section-box.juhui-box .box{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) ;
	-webkit-transform: translateX(-50%) ;
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%) ;
	top: 10%;

}
.juhui-box .content{
	text-align: left;
}
.juhui-box .juhui-title{
	font-size:30px;
	font-weight:400;
	color:#666666;
	margin: 90px 0 8px;
}
.juhui-list li{
	margin-top: 70px;
	height: 76px;
}
.juhui-list li .icon{
	width: 60px;
	height: 44px;
	float: left;
}
.icon.money{
	background: url('../image/money.png') center center no-repeat;
	background-size: 60px 43px;
}
.icon.kj{
	background: url('../image/kj.png') center center no-repeat;
	background-size: 46px 44px;
}
.icon.mr{
	background: url('../image/mr.png') center center no-repeat;
	background-size: 40px 43px;
}
.icon.yc{
	background: url('../image/yc.png') center center no-repeat;
	background-size: 44px 37px;
}

.juhui-list li .text-box{
	margin-left: 95px;
	font-size:28px;
	color:#666;
	width: 50%;
}
li .text-box .text{
	font-size:18px;
	margin: 5px 0 0;
}
.juhui-list li:hover{
	cursor: pointer;
}
.juhui-list li:hover .text-box{
	color:#29AEE7;
}
.juhui-list li:hover .title-text{
	transform: translateY(-18px) scale(1.2) translateX(50px);
	-webkit-transform:  translateY(-18px) scale(1.2) translateX(50px);
	-o-transform:  translateY(-18px) scale(1.2) translateX(50px);
	-moz-transform: translateY(-18px) scale(1.2) translateX(50px);
	-ms-transform:  translateY(-18px) scale(1.2) translateX(50px);
	transition: all 0.3s ease-in-out;
}
.juhui-list li:hover .text{
	position: relative;
	color: #29AEE7;
}
.juhui-list li:hover .text::after{
	content: '';
	display: block;
	width: 110px;
	height: 3px;
	background-color: #29AEE7;
	position: absolute;
	left: 0;
	top: -10px;
}
.juhui-list li:hover .money{
	background: url('../image/money_c.png') center center no-repeat;
	background-size: 60px 43px;
}
.juhui-list li:hover  .icon.kj{
	background: url('../image/kj_C.png') center center no-repeat;
	background-size: 46px 44px;
}
.juhui-list li:hover  .icon.mr{
	background: url('../image/mr_c.png') center center no-repeat;
	background-size: 40px 43px;
}
.juhui-list li:hover  .icon.yc{
	background: url('../image/yc_c.png') center center no-repeat;
	background-size: 44px 37px;
}

.juhui-box .content .btn{
	display: block;
	width:73px;
	height:45px;
	background:#29AEE7;
	border-radius:5px;
	font-size:20px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	margin-top: 34px;
}

.juhui-box .right{
	position: absolute;
	bottom: -70px;
	left: 55%;
	width: 480px;
	height: 959px;
	background: url(../image/phone.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

/* duty */
.duty-box .box{
	text-align: center;
}
.duty-box .title{
	width: 322px;
    height: 71px;
    background: url(../image/zr.png) center center no-repeat;
    background-size: contain;
    margin: 110px auto ;
}
.duty-content{
	margin-bottom: 95px;
}
.duty-content > div{
	display: inline-block;
	width: 397px;
	height: 397px;
	overflow: hidden;
}
.duty-content .left-box ,.duty-content .right-box{
	background: url(../image/border.png) 0 0 no-repeat;
	background-size: 100% 100%;
	
}
.duty-content .center-box{
	background: url(../image/amg.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.left-box .title-text,.right-box .title-text{
	font-size: 32px;
	padding-top: 62px;
}
.left-box .texts,.right-box .texts{
	font-size:20px;
}
.duty-list{
	margin-top: 64px;
	color: #666666;
	font-size: 20px;
}
.duty-list li{
	width: 140px;
	padding-left: 30px;
	margin: 0 auto;
	background: url(../image/circle.png) 0 50% no-repeat;
	background-size: 17px 17px;
	line-height: 2;
}
.center-box .title-text{
	font-size:32px;
	color:#ffffff;
	line-height:51px;
}
.center-box .title-text:first-child{
	margin-top: 150px;
}

/* join */
.join-box{
	background-color: #f6f8f9;
	overflow: hidden;
}
.join-box .box{
	text-align: center;
	width: 1200px;
	height: 918px;
	overflow: hidden;
	background: url(../image/join.jpg) center center no-repeat;
	background-size: contain;
}

/* partner */
.partner-box .title{
	width: 322px;
    height: 71px;
    background: url(../image/join-us.png) center center no-repeat;
    background-size: contain;
	margin: 100px auto 0;
}
.partner-content{
	margin: 80px 0 96px;
	overflow: hidden;
}
.partner-content > div{
	display: inline-block;
	color: #666666;
}
.partner-content .text-box{
	width: 520px;
	float: left;
}
.partner-content .text-box .title-text{
	font-size: 28px;
}
.partner-content .text-box .texts{
	font-size: 18px;
	line-height: 30px;
	width: 415px;
	margin-top: 20px;
}
.form-list{
	width: 510px;
	height: 397px;
	border: 1px solid #dedede;
	margin-top: 47px;
}
.form-title{
	font-size: 24px;
	line-height: 55px;
	height: 55px;
	background-color: #F5F3F6;
	text-align: center;
	margin-bottom: 10px;
}
.form-list li{
	font-size: 20px;
	line-height: 40px;
}
.form-list li span{
	display: inline-block;
}
.form-list li .name{
	width: 3em;
	padding-left: 50px;
}
.form-list li .tel{

	padding:0 70px;
}
.partner-content .form-box{
	width: 620px;
	float: right;
}
.form-box {
	font-size: 22px;
}
.form-box li{
	margin-bottom: 23px;
}
.form-box input{
	width: 600px;
	height: 40px;
	border: none;
	background-color: #E9E7EA;
	border-radius: 5px;
	outline: none;
	padding:0 10px;
	margin-top: 11px;
	font-size: 16px;
}
.form-box .input{
	width: 620px;
	background-color: #E9E7EA;
	border-radius: 5px;
	margin-top: 12px;
	height: 180px;
	overflow: hidden;
}
.form-box  textarea{
	width: 600px;
	height: 100%;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 1.5;
	font-family:'MicrosoftYaHei';
	background-color: #E9E7EA;
}

.btn-box{
	text-align: center;
}
.btn-box .btn{
	display: inline-block;
	width: 620px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	text-align: center;
	letter-spacing: 20px;
	border: 1px solid #dedede;
	border-radius: 5px;
	box-sizing: border-box;
}
.btn-box .btn:hover{
	cursor: pointer;
	background-color: #f5f5f5;
}
/* footer-bar */
.footer-bar{
	height: 150px;
	background-color: #000;
	color:#AEABAB;
}
.footer-bar span{
	line-height: 150px;
}
.footer-bar .txt{
	font-size: 16px;
	margin-right: 50px;
}
.footer-bar .phone{
	font-size: 22px;
	float: right;
}