.section-box{
    width: 100%;
    min-width: 1200px;
    height: 975px;
    background: url(../image/one.jpg) 0 0 no-repeat;
    background-size: cover;
}
.section-box .box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: url(../image/two.png) center center no-repeat;
    background-size: auto auto;
 }
 .partner-box{
     width: 100%;
     min-width: 1200px;
     height: 860px;
 }
 .partner-box .box{
     height: 100%;
     overflow: hidden;
 }

 .partner-box .title{
    width: 322px;
	height: 71px;
	background: url('../image/join-us.png') center center no-repeat;
	background-size: contain;
	margin: 100px auto 60px;
 }
 .form-box{
     width:620px;
     margin: 0 auto;
     font-size: 22px;
     color:#666666;
 }
 .form-box input{
     width: 600px;
     padding: 10px;
     height: 20px;
     line-height: 20px;
     font-size: 16px;
     margin: 10px 0 20px;
     background-color: #E9E7EA;
     border-radius: 5px;
 }
 .form-box .input{
	width: 620px;
	background-color: #E9E7EA;
	border-radius: 5px;
	margin-top: 12px;
	height: 180px;
	overflow: hidden;
}
.form-box  textarea{
	width: 600px;
	height: 100%;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 1.5;
	font-family:'MicrosoftYaHei';
	background-color: #E9E7EA;
}

.btn-box{
    text-align: center;
    margin-top: 36px;
}
.btn-box .btn{
	display: inline-block;
	width: 620px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	text-align: center;
	letter-spacing: 20px;
	border: 1px solid #dedede;
	border-radius: 5px;
	box-sizing: border-box;
}
.btn-box .btn:hover{
	cursor: pointer;
	background-color: #f5f5f5;
}