html,body{
	display: block;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight:400;
	color:#333333;
	background-color: #ffffff;
}
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6{display: block;margin: 0;padding: 0;}
*{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    }
a{color: #333333;text-decoration: none;}
input,textarea{border: none;outline: none;}

.section-box{
	width: 100%;
	min-width: 1200px;
	position: relative;
}
.box{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
/*/nav-bar*/
.nav-bar{
	height: 76px;
	width: 100%;
	color: #fff;
	position: fixed;
	top: 0;
	z-index: 10;
}

.nav-bar::after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	background: linear-gradient(0deg,rgba(140,214,233,1),rgba(76,84,231,1));
	opacity:0.5;
}


.nav-bar .box{
	height: 100%;
}
.logo-box{
	float: left;
	padding: 14px 0;
	line-height: 48px;
}
.logo-box .logo{
	width: 48px;
	height: 48px;
	float: left;
}
.logo-box .title{
	font-size: 24px;
	margin-left: 20px;
}
.nav-list{
	/* float: right; */
	height: 76px;
	margin: 0 130px 0 330px;
	overflow: hidden;
}
.nav-item{
	display: block;
	width: 96px;
	height: 76px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 76px;
	margin-right: 50px;
	color: #333333;
	cursor: pointer;
	float: left;
}
.nav-item a{
	display: block;
	width: 96px;
	height: 76px;
	margin: 0;
    padding: 0;
    /* color: #333333; */
	overflow: hidden;
}
.nav-item.current,.nav-item.current a,.nav-item:hover,.nav-item:hover a{
	position: relative;
	color: #ffffff;
	font-weight: 500;
}
.nav-item.current::after{
	content:'';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 6em;
	height: 3px;
	background-color: #29AEE7;
}
.login-btn{
	display: inline-block;
	width: 87px;
	height: 38px;
	border: 2px solid #29AEE7;
	position: absolute;
	right: 0;
	top: 19px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
	border-radius: 6px;
	color: #29AEE7;
	opacity: 0.8;
}
.login-btn:hover{
	cursor: pointer;
	opacity: 0.5;
}

.nav-bar.scroll{
	background-color: #fff;
	color:#333333;
	box-shadow: 0 0 5px #ddd;
}
.nav-bar.scroll::after{
	display: none;
}
.nav-bar.scroll .nav-item.current,.nav-bar.scroll .nav-item.current a,.nav-bar.scroll .nav-item:hover,.nav-bar.scroll .nav-item:hover a{
	font-weight: 500;
	color: #29AEE7;
}


/* footer-bar */
.footer-bar{
	height: 150px;
	background-color: #000;
    color:#AEABAB;
    min-width: 1200px;
    width: 100%;
}
.footer-bar span{
	line-height: 150px;
}
.footer-bar .txt{
	font-size: 16px;
	margin-right: 50px;
}
.footer-bar .phone{
	font-size: 22px;
	float: right;
}

.alert{
    position: fixed;
    width: 100%;
    height: 30%;
    background-color: #fff;
    z-index: 20;
}
.alert .browserupgrade{
    margin-top: 150px;
    font-size: 30px;
    color:#333333;
    text-align: center;
}

/* alert */
.wrapper-box{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
	background-color: rgba(0,0,0,0.6);
	overflow: hidden;
	display: none;
}
.wrapper-box .wrapper{
	width: 360px;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -175px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
}
.wrapper .title{
	line-height: 20px;
	padding: 15px;
	border-bottom: 1px solid #dedede;
}
.wrapper .content{
	padding: 25px;
	line-height: 1.8;
	
}
.wrapper .button{
	padding: 10px;
	border-top: 1px solid #dedede;
	color: #29AEE7;
}
.wrapper .button:hover{
	cursor: pointer;
	background-color: #f5f5f5;
}